h1{
    text-align: center;
    font-size: 30px;
}
#size-btn{
    background-color: blue;
    color: white;
}

#square-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 2px solid black;
}

.square{
    flex: 1 0 6.25%;
    aspect-ratio: 1 / 1;
    border: 1px solid rgb(18, 18, 18);
    box-sizing: border-box;
}
.square:hover{
    background-color: lightblue;
}

.square.active{
    background-color: blue;
}

#popup-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

#popup-square{
    width: 480px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 247, 247);
    opacity: 1;
}